body {
    margin: 0;
    font-family: Arial, sans-serif; /* Fuente del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* El contenido ocupa toda la altura de la ventana */
    overflow: visible; /* Visibilidad de las barras de desplazamiento */
}
/* Estilo de la imagen de fondo*/
.background {
    position: absolute;
    width: 80%; /* Tamaño de la imagen */
    height: auto; /* Mantener las proporciones de la imagen */
    top: 50%; /* Posicionar la imagen en el centro verticalmente */
    left: 50%; /* Posicionar la imagen en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar la posición para que quede centrada */
    opacity: 0.1; /* Brillo */
    z-index: -1; /* Colocar la imagen en el fondo */
}
.content {
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
    color: #000; /* Ajusta el color del texto */
    text-align: center;
    padding: 20px;
}

.blue {
    color: #0033A0; /* Color azul para el nombre del aplicativo */
}